<div class="container px-5 px-sm-0">
  <div class="row">
    
    <div class="mt-5">
      <%= render partial: 'layouts/error_messages', locals: { object: @post} %>
    </div>
  </div>
  <div class="border-bottom" style="background-color: #ffffe5;">
    <h2>投稿を編集する</h2>
  </div>

  <%= form_with(model: @post, url: post_path, method: :patch, local: true) do |f| %>
  <table class="table table-borderless">
    <tr>
      <th>タイトル</th>
      <td ></td>
      <td><%= f.text_field :title, autofocus: true, autocomplete: "title",placeholder: "タイトル" %></td>
      <td ></td>
      <td></td>
    </tr>
    <tr>
      <th><%= f.label :投稿内容 %></th>
      <td></td>
      <td><%= f.text_area :content, rows: 8, style: "width: 100%;" %></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th><%= f.label :画像 %></th>
      <td></td>
      <td><%= f.file_field :image %></td>
      <td></td>
      <td></td>
    </tr>
   <tr>
      <th><%= f.label :tag_list, "タグ付け" %></th>
      <td></td>
      <td><%= f.text_field :tag_list, class: "form-control", id:'tag_list', placeholder: "タグをつける。複数つけるには'　,　(カンマ)'で区切ってください。" %></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th><%= f.label :genre_id, "ジャンルを選択する" %></th>
      <td></td>
      <td><%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "--選択してください--" %></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th><%= f.label"公開範囲を選択" %></th>
      <td></td>
      <td><%= f.select :status, [["公開", "published"], ["下書き", "draft"]],required: true,class:"form-control" %></td>
      <td></td>
      <td></td>
    </tr>
  </table>
  <div class="form-group text-right">
    <%= f.submit "更新する", class: 'btn btn-success' %>
    <%= link_to "削除", post_path(@post.id), method: :delete, data: { confirm: "本当に削除しますか?" }, class: "btn btn-danger" %>
  </div>
  <% end %>
</div>