<div class="container-fluid">
  <div class="pc">
    <div class="row">
      <div class="col-md-2">
        <%= render 'public/genres/genre_list', genres: @genres %>
      </div>
      <div class="post-index col-md-10">
        <div class="post-index-title">
          <h2>　投稿一覧　<span class="badge badge-pill badge-secondary">全<%= @posts.count %>件</span></h2>
        </div>
        <div class="row">
          <div class="post_information col-md-12">
            <% @posts.each do |post|%>
              <%= render partial: 'public/posts/post_list', locals: {post: post, current_contributor: @current_contributor} %>
            <% end %>
          </div>
        </div>
        <div id="paginate-warpper" class="pagination">
          <%= paginate @posts %>
        </div>
      </div>
    </div>
  </div>
</div>
  
<div class="sm-index">
  <div class="row">
    <div class="post-index col-md-12">
      <div class="post-index-title">
        <h2>　投稿一覧　<span class="badge badge-pill badge-secondary">全<%= @posts.count %>件</span></h2>
      </div>
      <div id="tab-head-parent" class="col-12">
        <div class="tab-area" style="display: flex;">
          <%= link_to 'すべて', posts_path, class: "list-group-item list-group-item-action text-center", style: 'font-size: 1.2em;' %>
          <% @genres.each do |genre| %>
            <%= link_to genre.name, posts_path(genre_id: genre.id, genre_name: genre.name), class: "list-group-item list-group-item-action text-center", style: 'font-size: 1.2em;' %>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-12 d-flex justify-content-center">
          <div data-tab-id="1" class="post_information">
            <% @posts.each do |post| %>
              <%= render partial: 'public/posts/post_list', locals: {post: post, current_contributor: @current_contributor} %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pagination">
    <%= paginate @posts %>
  </div>
</div>