<div style="background-color: #f9fffc;">
  <div class="container pl-5">
    <div class="border-bottom" style="background-color: #ffffe5;">
      <h2>投稿する</h2>
    </div>

    <%= form_with(model: @post, url: posts_path, local: true) do |f| %>
      <table class="table table-borderless">
        <tr>
          <th style="width: 20%">タイトル</th>
          <td></td>
          <td><%= f.text_field :title, autofocus: true, autocomplete: "title", placeholder: "タイトル" %></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <th style="width: 20%"><%= f.label :投稿内容 %></th>
          <td></td>
          <td><%= f.text_area :content, rows: 8, style: "width: 100%;" %></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <th style="width: 20%"><%= f.label :画像 %></th>
          <td></td>
          <td><%= f.file_field :image %></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <th style="width: 20%"><%= f.label :tag_list, "タグ付け" %></th>
          <td></td>
          <td><%= f.text_field :tag_list, class: "form-control", id:'tag_list', placeholder: "タグをつける。複数つけるには'　,　(カンマ)'で区切ってください。" %></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <th style="width: 20%"><%= f.label :genre_id, "ジャンルを選択する" %></th>
          <td></td>
          <td><%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "--選択してください--" %></td>
          <td></td>
          <td></td>
        </tr>
        
        <tr>
          <th style="width: 20%"><%= f.label"公開範囲を選択" %></th>
          <td></td>
          <td><%= f.select :status, [["公開", "published"], ["下書き", "draft"]],required: true,class:"form-control" %></td>
          <td></td>
          <td></td>
        </tr>
      </table>

      
        <div class="text-center">
          <%= f.submit "投稿する", name: "release", class: "btn btn-warning w-25" %>
        </div>
      </div>
    <% end %>
  </div>
</div>