<div class="container-fluid">
  <div class="row">
    <div class="pc">
      <div class="col-md-2 list-group">
        <%= render 'public/genres/genre_list', genres: @genres %>
      </div>
    </div>
    <div class="post-index col-md-10">
      <div class="post-index-title">
        <div style="display: flex; justify-content: space-between;">
            <h2>「<%= @post.title %>」</h2>
          <div class ="likes-impressions-count">  
            <div id="likes_buttons_<%= @post.id %>">
              <%= render partial: 'public/likes/like', locals: { post: @post, current_contributor: @current_contributor} %>
            </div>
            <div class ="impressions-count">
              <i class="fas fa-eye"></i> <%= @post.impressions_count %>
            </div>
          </div>  
        </div>
      </div>
      <div class="card-header">
        <div class="col-md-10">
          <div class="row">
            <div class="posted_detail_image">
              <% if @post.image.present? %>
                <%= image_tag @post.get_image.variant(resize: "265x265"), height: "265" %>
              <% else %>
                <%= image_tag "no_image.jpg", size: "265x265", class: "card-image-top" %>
              <% end %>
            </div>
          </div>
          <div class="row">
            <table class="post-info">
              <tr>
                <td><strong>投稿内容</strong></td>
                <td><%= simple_format(@post.content) %></td>
              </tr>
              <tr>
                <td><strong>ジャンル</strong></td>
                <% if @post.genre.present? %>
                  <td><%= link_to @post.genre.name, posts_path(genre_id: @post.genre.id, genre_name: @post.genre.name) %></td>
                <% else %>
                  <td>未分類</td>
                <% end %>
              </tr>
              <tr>
                <td><strong>タグ</strong></td>
                <td>
                  <% @post.tags.each do |tag| %>
                    <%= link_to tag.name, posts_path(tag_id: tag.id, tag_name: tag.name) %>
                  <% end %>
                </td>
              </tr>
              <tr>
                <td><strong>投稿日</strong></td>
                <td><%= @post.created_at.strftime('%Y/%m/%d') %></td>
              </tr>
              <tr>
                <td style="white-space: nowrap;"><strong>ニックネーム</strong></td>
                <td><%= link_to @post.contributor.nickname, contributor_path(@post.contributor.id) %></td>
              </tr>
              <tr>
                <td><strong>保有資格</strong></td>
                <td><%= @post.contributor.qualification %></td>
              </tr>
            </table>
          </div>
        </div>
        <div class="card-body">
          <% if current_contributor.id == @post.contributor.id %>
            <% if @post.status == "draft" %>
              <%= link_to(raw('<i class="fas fa-edit" style="color: #168d8b;"></i>この下書きを編集する'), edit_post_path(@post), class: "btn btn-lg btn-block btn-outline-info", type: "button") %>
            <% else %>
              <%= link_to(raw('<i class="fas fa-cogs" style="color: #2003fc;"></i> 編集する'), edit_post_path(@post), class: "btn btn-lg btn-block btn-outline-primary", type: "button") %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>   
</div>
  
<div id="comments_area">
  <%= render 'public/comments/index', comments: @comments, comment_reply: @comment_reply, current_contributor: @current_contributor %>
</div>
  <% if contributor_signed_in? && current_contributor.nickname != "ゲストユーザー" %>
    <%= render 'public/comments/form', post: @post, comment: @comment %>
  <% end %>
    