<div class="container-fluid" style="background-color: #f9fffc;">
  <div class="row">
    <div class="col-md-2">
      <%= render 'public/tmp/genre_list', genres: @genres %>
    </div>
     <div class="col-md-9">
      <div class="px-5 mx-auto ml-auto container" style="position: relative;">
        <%= image_tag 'top.jpg', style: "width: 85%; height: auto;" %>
      </div>
    </div>
  </div>
  <div class="container pl-5">
    <div class="border-bottom" style="background-color: #ffffe5;">
      <h2>投稿一覧  <span class="badge badge-pill badge-secondary">全<%= @posts.count %>件</span></h2>
    </div>
    <div class="d-md-flex flex-wrap">
      <% @posts.each do |post| %>
        <%= render partial: 'public/posts/post_list', locals: {post: post, likes: @likes} %>
      <% end %>
    </div>
    <div id="paginate-warpper" class="d-md-flex flex-wrap justify-content-center">
      <%= paginate @posts %>
    </div>
  </div>
</div>