<div class="container-fluid">
  <div class="row">
    <div class="pc">
      <div class="col-md-2 list-group">
        <%= render 'public/genres/genre_list', genres: @genres %>
      </div>
    </div>
      <div class="post-index col-md-10">
        <div class="top-image">
          <%= image_tag 'top.jpg'%>
        </div>
        <div class="post-index-title">
          <h2>　投稿一覧　<span class="badge badge-pill badge-secondary">全<%= @posts.count %>件</span></h2>
        </div>
        <div id="tab-head-parent" class="col-12 sm-index">
          <div class="tab-area" style="display: flex;">
            <%= link_to 'すべて', posts_path, class: "list-group-item list-group-item-action text-center rounded-lg", style: 'font-size: 1.0em;' %>
            <% @genres.each do |genre| %>
              <%= link_to genre.name, posts_path(genre_id: genre.id, genre_name: genre.name), class: "list-group-item list-group-item-action text-center rounded-lg", style: 'font-size: 1.0em;' %>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="post_information col-md-12">
            <% @posts.each do |post|%>
              <%= render partial: 'public/posts/post_list', locals: {post: post, current_contributor: @current_contributor} %>
            <% end %>
          </div>
        </div>
        <div class="pagination">
          <%= paginate @posts %>
        </div>
      </div>
    </div>
  </div>
</div>