<div class="container my-5">
  <div class="row">
    <div class="col-12 mx-auto">
      <div class="row mb-3">
        <%= render partial: 'layouts/error_messages', locals: { object: @genre } %>
        <div class="col-12">
          <h4><span class="bg-light bg-gradient">ジャンル編集</span></h4>
        </div>
      </div>
       <div class="col-12 mx-auto">
        <%= form_with model: @genre, url: admin_genre_path(@genre), method: :patch do |f| %>
          <div class="form-group">
            <%= f.label :ジャンル名, class:"bg-light bg-gradient" %>
            <%= f.text_field :name, class:'form-control book_title' %>
          </div>
          <div class="form-group text-right">
            <%= f.submit "更新する", class:'btn btn-success' %>
          </div>
        <% end %>
        <div class="form-group text-right">
          <%= button_to "削除する", admin_genre_path(@genre), method: :delete, data: { confirm: "削除してもよろしいですか？" }, class: "btn btn-danger" %>
        </div>
      </div>
    </div>
  </div>
</div>