<div class="container-fluid">
  <div class="container px-5 px-sm-0">
    <div class="row">
      <div class="mt-5">
        <%= render "public/shared/error_messages", resource: resource %>
      </div>
    </div>
    <div class="border-bottom" style="background-color: #ffffe5;">
      <h2>新規会員登録</h2>
    </div>
  
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <table class="table table-borderless">
        <tr>
          <th style="width: 20%">名前</th>
          <td class="text-right"  style="width: 10%"><%= f.label :（姓） %></td>
          <td><%= f.text_field :last_name, autofocus: true, autocomplete: "last_name",placeholder: "山田" %></td>
          <td class="text-right"><%= f.label :（名） %></td>
          <td><%= f.text_field :first_name, autofocus: true, autocomplete: "first_name",placeholder: "太郎" %></td>
        </tr>
        <tr>
          <th style="width: 20%">フリガナ</th>
          <td class="text-right"><%= f.label :（セイ） %>
          <td><%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana",placeholder: "ヤマダ" %></td>
          <td class="text-right"><%= f.label :（メイ） %></td>
          <td><%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana",placeholder: "タロウ" %></td>
        </tr>
        <tr>
          <th style="width: 20%">ニックネーム</th>
          <td class="text-right"></td>
          <td><%= f.text_field :nickname, autofocus: true, autocomplete: "nickname",placeholder: "ニックネーム" %></td>
        </tr>
        <tr>
          <th style="width: 20%">メールアドレス</td>
          <td class="text-right"></td>
          <td><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'sample@example.com' %></td>
        </tr>
        <tr>
          <th style="width: 20%"><%= f.label :"郵便番号(ハイフンなし)" %></th>
          <td></td>
          <td><%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code",placeholder: "0000000" %></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th style="width: 20%"><%= f.label :住所 %></th>
          <td></td>
          <td><%= f.text_field :address, autofocus: true,autocomplete: "address",placeholder: "" %></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th style="width: 20%"><%= f.label :"電話番号(ハイフンなし)" %></th>
          <td></td>
          <td><%= f.text_field :telephone_number, autofocus: true, autocomplete: "telephone_number",placeholder: "0000000000" %></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th style="width: 20%"><%= f.label :資格 %></th>
          <td></td>
          <td>
            <%= f.radio_button :qualification, "管理栄養士", id: "qualification_manager" %>
            <%= f.label :qualification, "管理栄養士", style: "margin-right: 20px;", for: "qualification_manager" %>
            <%= f.radio_button :qualification, "栄養士", id: "qualification_nutritionist" %>
            <%= f.label :qualification, "栄養士", style: "margin-right: 20px;", for: "qualification_nutritionist" %>
            <%= f.radio_button :qualification, "調理師", id: "qualification_cook" %>
            <%= f.label :qualification, "調理師", style: "margin-right: 20px;", for: "qualification_cook" %>
            <%= f.radio_button :qualification, "調理従事者", id: "qualification_cook_assistant" %>
            <%= f.label :qualification, "調理従事者", style: "margin-right: 20px;", for: "qualification_cook_assistant" %>
          </td>
        </tr>
        <tr>
          <th style="width: 20%"><%= f.label :自己紹介 %></th>
          <td></td>
          <td><%= f.text_area :introduce, rows: 5, style: "width: 100%;" %></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th style="width: 20%">プロフィール画像</th>
          <td></td>
          <td><%= f.file_field :profile_image %></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th style="width: 20%">
            <%= f.label :パスワード %>
            <% if @minimum_password_length %>
            (<%= @minimum_password_length %>文字以上)
            <% end %>
          </th>
          <td></td>
          <td><%= f.password_field :password, autocomplete: "new-password" %></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th style="width: 20%"><%= f.label :確認用パスワード %></th>
          <td></td>
          <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
        </tr>
      </table>
      <div class="border-top mb-3"></div>
      <div class="text-center">
        <%= f.submit "新規登録", class: "btn btn-success w-25" %>
      </div>
    <% end %>
    <strong>既に登録済みの方</strong></br>
    <%= link_to "こちら", new_contributor_session_path %>からログインしてください。
  </div>
</div>