<div class="container my-5">
  <div class="row">
    <div class="col-lg-10 col-sm-12 mx-auto">
      <div class="row mb-3">
        <div class="col-12">
          <h4><span class="bg-light bg-gradient">通報理由を記入してください</span></h4>
        </div>
      </div>
      <%= form_with model: @report, url: post_comment_reports_path(@comment), local: true do |f| %>
        <div class="form-group">
          <%= f.label :reason %>
          <%= f.text_area :reason, rows:'3', class:"form-control" %>
          <%= hidden_field_tag :contributor_id, current_contributor.id %>
        </div>
        <div class="text-right">
          <%= f.submit "通報する", class: "btn btn-danger" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

