<div class="container-fluid border-top border-5 mt-auto" style="background-color: #ffb54d;">
  <div class="text-center pt-3">
    <%= link_to "https://www.google.co.jp/mail/help/intl/ja/about.html?vm=r", class: "text-decoration-none text-light h2" do %>
      <i class="fas fa-envelope-square"></i>
    <% end %>
    <%= link_to "https://line.me/ja/", class: "text-decoration-none text-light h2" do %>
      <i class="fab fa-line"></i>
    <% end %>
    <%= link_to "https://twitter.com/", class: "text-decoration-none text-light h2" do %>
      <i class="fab fa-twitter-square"></i>
    <% end %>
    <%= link_to "https://www.instagram.com/", class: "text-decoration-none text-light h2" do %>
      <i class="fab fa-instagram-square"></i>
    <% end %>

  </div>
  <div class="text-right">
    <%= link_to admin_session_path, class: "text-decoration-none text-light h6" do %>
      <i class="fas fa-sign-in-alt"></i> 管理者ログイン
    <% end %>
  </div>

  <p class="text-center text-light">© All Rights reserved.</p>
</div>

