<!DOCTYPE html>
<html>
  <head>
    <title>NutriSwap</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application' %>
  </head>

  <body>
    <header>
      <%= render 'layouts/header' %>
    </header>
    
    <script>
      $('#hamburger').on('click', function() {
        $('.icon').toggleClass('close');
        $('.sm').slideToggle();
      })

      $(function() {
        let tabs = $(".tab"); 
        $(".tab").on("click", function() { 
          $(".active").removeClass(".active");
          $(this).addClass(".active");
        })
      })
    </script>

    <main>
      <% if flash[:notice] %>
        <div class="alert alert-success">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <%= yield %>
    </main>

    <footer>
      <%= render 'layouts/footer' %>
    </footer>
  </body>
</html>